---
layout: 'layouts/textcontent'
eleventyNavigation:
  key: Im Notfall
  order: 30
eleventyComputed:
  title: "{{ cms.content.emergency.title }}"
  data: cms.content.emergency
---

<h1 class="text-darkBlue">{{ title }}</h1>

{% renderTemplate "liquid,md", cms.content.emergency %} {{ description }} {% endrenderTemplate %}

<section class="max-w-5xl mx-auto">
    <table class="table-auto">
    {% for entry in cms.content.emergency.numbers.entries %}
    <tr class="even:bg-gray-100">
        <td class="px-3">{{ entry.label }}</td>
        <td class="px-3 text-right"><a href="tel:{{ entry.number }}">{{ entry.number }}</a></td>
    </tr>
    {% endfor %}
    </table>
    <p>
        {%- comment -%} <a href="{{ cms.content.emergency.numbers.infoUrl }}">{{ cms.content.emergency.numbers.infoText }}</a> {%- endcomment -%}
        Mehr Info zu den Notrufnummern findest du auf <a href="https://www.oesterreich.gv.at/themen/gesundheit_und_notfaelle/notrufnummern.html">www.oesterreich.gv.at</a>.
    </p>
</section>


<section>
    {% for part in cms_legacy.emergency.content %}
    {% if part.type == "text" %}
        {% renderTemplate "liquid,md", part %} {{ text }} {% endrenderTemplate %}
    {% endif %}
    {% if part.type == "category" %}
        <a class="block" href="/infos/{{ part.category.name | slugify }}">{{ part.category.title }}</a>
    {% endif %}
    {% if part.type == "reference" %}
      <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm p-0 m-0 my-4">
        <a class="no-underline" href="{{ part.reference.url }}">
        <img class="p-0 m-0 rounded-t-lg" src="{{ part.reference.previewImageUrl }}" alt="" />
        <div class="p-5">
            <h3 class="my-0 py-0 text-gray-900 font-bold text-2xl tracking-tight mb-2">{{ part.reference.title }}
            </h3>
            <p class="font-normal my-0 py-0 text-gray-700 decoration-transparent">{{ part.reference.description }}
            </p>
        </div>
        </a>
      </div>
    {% endif %}
    {% endfor %}
</section>
