---
layout: 'layouts/textcontent'
title: 'Alltags&shy;situationen'
eleventyNavigation:
  key: Alltagssituationen
  order: 10
---

<h1 class="text-darkBlue">{{ title }}</h1>

<p>
    Vielleicht stellst du dir ja eine der folgenden Fragen oder erlebst auch gerade einer dieser Situationen?
</p>

{% for insight in cms_legacy.insights %}
{%- assign insight_id = insight.question | slugify -%}
<details class="group mt-8 mb-4">
    <summary class="cursor-pointer list-none">
        <h2 class="text-darkBlue underline decoration-sky-800">{{ insight.question }}</h2>
        <p class="group-open:hidden">{% excerpt insight.content %}</p>
    </summary>

    <div>
        {% for part in insight.content %}
        {% if part.type == "text" %}
        {% renderTemplate "liquid,md", part %} {{ text }} {% endrenderTemplate %}
        {% endif %}
        {% if part.type == "category" %}
        <a href="/infos/{{ part.category.name | slugify }}">{{ part.category.title }}</a>
        {% endif %}
        {% if part.type == "reference" %}
        <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm p-0 m-0">
            <a class="no-underline" href="{{ part.reference.url }}">
            <img class="p-0 m-0 rounded-t-lg" src="{{ part.reference.previewImageUrl }}" alt="" />
            <div class="p-5">
                <h3 class="my-0 py-0 text-gray-900 font-bold text-2xl tracking-tight mb-2">{{ part.reference.title }}
                </h3>
                <p class="font-normal my-0 py-0 text-gray-700 decoration-transparent">{{ part.reference.description }}
                </p>
            </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</details>
{% endfor %}
