{% assign page_title = title | append: ' | ' | append: site.name %}
{% if site.name == title %}
  {% assign page_title = title %}
{% endif %}

{% assign site_title = site.name %}
{% assign current_url = site.url | append: page.url %}
{% unless social_image %}
  {% assign social_image = site.url | append: '/images/social-share.jpg' %}
{% endunless %}
{% if meta.title %}
  {% assign page_title = meta.title %}
{% endif %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="generator" content="{{ eleventy.generator }}">

<title>{{ page_title }}</title>

<link rel="canonical" href="{{ current_url }}" />

<meta property="og:site_name" content="{{ site_title }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url }}" />

{% if social_image %}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" content="{{ social_image }}" />
<meta name="twitter:image" content="{{ social_image }}" />
<meta property="og:image:alt" content="Page image for {{ site.name }}" />
<meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}
{% if meta.description %}
<meta name="description" content="{{ meta.description }}" />
<meta name="twitter:description" content="{{ meta.description }}" />
<meta property="og:description" content="{{ meta.description }}" />
{% endif %}

{%- comment -%}
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
{%- endcomment -%}
<link rel="alternate icon" href="/favicon.ico" type="image/png" sizes="48x48" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="192x192" />
{%- comment -%}
<link rel="mask-icon" href="/favicon.svg" color="#4a5568" />
{%- endcomment -%}

<meta name="theme-color" content="#9d132e" />

<!-- Apple Smart App Banner (https://developer.apple.com/documentation/webkit/promoting_apps_with_smart_app_banners) -->
<meta name="apple-itunes-app" content="app-id=1594317016" />

<!-- Preconnect to the font file origin -->
<link rel="preconnect" href="https://rsms.me" crossorigin />

<!-- Preload the font stylesheet asynchronously with low priority -->
<link rel="preload" href="https://rsms.me/inter/inter.css" as="style" />

<!-- https://www.filamentgroup.com/lab/load-css-simpler/ -->
<link crossorigin="anonymous" rel="stylesheet" href="https://rsms.me/inter/inter.css" media="print"
onload="this.media='all'; this.onload=null;" />

<!-- Add the Matomo Tracking Code if we are in Production -->
{% if env.isProduction %}
<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//insights.young-carers-austria.at/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Matomo Code -->
{% endif %}
