---
layout: default
pagination:
    data: cms.abc
    size: 1
    alias: category
permalink: "abc/{{ category.name | slugify }}/"
---
<nav id="header" class="fixed w-full z-10 top-0 bg-white border-b border-gray-400 bg-red">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-4 bg-green">
      <div class="pl-4 flex items-center">
          <img src="https://www.young-carers-austria.at/images/logo.png" width=250></img>
      </div>
      <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-red-500 appearance-none focus:outline-none">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
          </button>
      </div>
      <div class="w-full flex-grow lg:flex pr-8 lg:content-center lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 z-20" id="nav-content">
          <ul class="list-reset lg:flex justify-end items-center">
            <li class="mr-3 py-2 lg:py-0">
                <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4" href="#">Alltagssituationen</a>
            </li>
            <li class="mr-3 py-2 lg:py-0">
                <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline" href="#">ABC</a>
            </li>
            <li class="mr-3 py-2 lg:py-0">
                <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4" href="#">Im Notfall</a>
            </li>
          </ul>
      </div>
    </div>
</nav>

 <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16">
  <div class="w-full lg:w-1/5 lg:px-6 text-xl text-gray-800 leading-normal">
    <p class="text-base font-bold py-2 lg:pb-6 text-gray-700">Kategorien</p>
    <div class="block lg:hidden sticky inset-0">
        <button id="menu-toggle" class="flex w-full justify-end px-3 py-3 bg-white lg:bg-transparent border rounded border-gray-600 hover:border-red-500 appearance-none focus:outline-none">
          <svg class="fill-current h-3 float-right" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </button>
    </div>
    <div class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-8" style="top:5em;" id="menu-content">
        <ul class="list-reset">
        {% for category in cms.abc %}
        {% assign categorySlug = category.name | slugify %}
        {% assign categoryLink = "/abc/" | append: categorySlug %}
        {% assign categoryUrl = categoryLink | url %}

        <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{{ categoryUrl }}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
            <span class="pb-1 md:pb-0 text-sm">{{ category.name }}</span>
          </a>
        </li>

        {% endfor %}
        </ul>
    </div>
  </div>
  <div class="w-full lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal bg-white border border-gray-400 border-rounded">
    <!--Title-->
    <div class="font-sans">
        <h1 class="font-sans break-normal text-gray-900 pt-6 pb-2 text-xl">{{ category.title }}</h1>
        {{ category.information | markdown }}
        <hr class="mt-6 border-b border-gray-400">
    </div>
    <!--Post Content-->
      {% for group in category.entries %}
    <h2 class="mt-4"><a href="{{ group.ownerUrl }}">{{ group.ownerName }}</a></h2>
    <p>{{ group.ownerUrl }}</p>
    <hr />
    {% for reference in group.references %}
      <div class="bg-white shadow-md border border-gray-200 rounded max-w-sm">
          <a href="{{ reference.url }}">
              <img class="rounded-t-lg" src="{{ reference.previewImageUrl }}" alt="">
          </a>
          <div class="p-5">
              <a href="{{ reference.url }}">
                  <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2">{{ reference.title }}</h5>
              </a>
              <p class="font-normal text-gray-700 mb-3">{{ reference.description }}</p>
          </div>
      </div>
    {% endfor %}
  {% endfor %}
  </div>
</div>
<!--/container-->
<footer class="bg-white border-t border-gray-400 shadow">
  <div class="container mx-auto flex py-8">
    <div class="w-full mx-auto flex flex-wrap">
        <div class="flex w-full lg:w-1/2 ">
          <div class="px-8">
              <h3 class="font-bold text-gray-900">Über</h3>
              <p class="py-4 text-gray-600 text-sm">
                Impressum | Barrierefreiheitserklärung | Datenschutzerklärung 
              </p>
          </div>
        </div>
        <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
          <div class="px-8">
              <h3 class="font-bold text-gray-900">Social Media</h3>
              <ul class="list-reset items-center text-sm pt-3">
                <li>
                    <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="https://www.sozialministerium.at/youngcarers">Sozialministerium</a>
                </li>
              </ul>
          </div>
        </div>
    </div>
  </div>
</footer>
