---
layout: 'layouts/noborder'
title: 'Young Carers Austria'
meta:
desc: 'Mit der neuen App Young Carers Austria gibt es eine Informationsquelle die Betroffenen und deren Familien einen
Überblick zu bestehenden (Hilfs-)Angeboten bietet. Aber auch Eltern, Lehrpersonen oder sonstige Wegbegleiter:innen
können sich auf der Plattform informieren.'
---
<div class="mx-auto max-w-4xl flex flex-col sm:flex-row">
  <h1
    class=" text-center text-3xl text-darkBlue basis-2/5 sm:text-right sm:text-7xl justify-center self-center mb-0 sm:mr-12 -mt-12">
    Young Carers
    Austria
  </h1>
  <div class="basis-3/5">
    <p class="prose prose-lg prose-gray text-gray-500">
      In Österreich gibt es über 42.000 pflegende Kinder und Jugendliche, sogenannte Young Carers. Sie unterstützen im
      Haushalt, kümmern sich um jüngere Geschwister, übernehmen Pflegetätigkeiten und tragen viel Verantwortung. Das ist
      eine große Herausforderung, der sich andere Gleichaltrige nicht stellen müssen. Es ist nicht schlimm, wenn man
      sich
      Hilfe holt.
      <b class="text-red">Ganz im Gegenteil – Hilfe holen, heißt Stärke zeigen!</b>
    </p>
    <p> Bist auch du ein Young Carer? Hol dir hier Informationen und Unterstützung.</p>
  </div>
</div>

<div class="flex flex-row flex-wrap py-12 justify-center items-center">
  <a href="/alltagssituationen/"
    class="drop-shadow-2xl sm:w-96 rounded-3xl bg-white scale-98 -rotate-2 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row w-96 px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
          {{ cms.website.landingpage.cards.situations.icon }}
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          {{ cms.website.landingpage.cards.situations.title }}
        </h3>
        <p class="mb-0 text-gray-500">
          {{ cms.website.landingpage.cards.situations.description }}
        </p>
      </div>
    </div>
  </a>

  <a href="{{ collections.infos[0].url }}"
    class="drop-shadow-2xl sm:w-96 rounded-3xl bg-white scale-95 rotate-6 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row w-96 px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
          {{ cms.website.landingpage.cards.infos.icon }}
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          {{ cms.website.landingpage.cards.infos.title }}
        </h3>
        <p class="mb-0 text-gray-500">
          {{ cms.website.landingpage.cards.infos.description }}
        </p>
      </div>
    </div>
  </a>

  <a href="/im-notfall/"
    class="drop-shadow-2xl sm:w-96 rounded-3xl bg-white scale-97 -rotate-3 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row w-96 px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
        {{ cms.website.landingpage.cards.emergency.icon }}
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          {{ cms.website.landingpage.cards.emergency.title }}
        </h3>
        <p class="mb-0 text-gray-500">
          {{ cms.website.landingpage.cards.emergency.description }}
        </p>
      </div>
    </div>
  </a>

  {%- comment -%} <button @click="chatbotOpen = true" type="button"
    class="drop-shadow-2xl rounded-3xl text-left sm:w-96 bg-white rotate-2 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
        {{ cms.website.landingpage.cards.chatbot.icon }}
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          {{ cms.website.landingpage.cards.chatbot.title }}
        </h3>
        <p class="mb-0 text-gray-500">
          {{ cms.website.landingpage.cards.chatbot.description }}
        </p>
      </div>
    </div>
  </button> {%- endcomment -%}

  <a href="/app/"
    class="drop-shadow-2xl sm:w-96 rounded-3xl bg-white rotate-3 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
        {{ cms.website.landingpage.cards.app.icon }}
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          {{ cms.website.landingpage.cards.app.title }}
        </h3>
        <p class="mb-0 text-gray-500">
          {{ cms.website.landingpage.cards.app.description }}
        </p>
      </div>
    </div>
  </a>
</div>

<section class="max-w-5xl mx-auto my-12">
  <h2 class="text-center text-darkBlue">Häufig gestellte Fragen</h2>
   
  {% assign relevant_faqs = cms_legacy.faqs | where: 'showOnLandingPage' %}

  {%- comment -%} show as details element on mobile {%- endcomment -%}
  <div class="sm:hidden">
    {% for faq in relevant_faqs %}
    <details>
      <summary>{{ faq.question }}</summary>
      <div>
        {% renderTemplate "liquid,md", faq %} {{ answer }} {% endrenderTemplate
        %}
      </div>
    </details>
    {% endfor %}
  </div>
  <div class="hidden sm:block relative">
    <ul class="list-none relative">
      {% for faq in relevant_faqs %}
      <li>
        {%- assign faq_id = faq.question | slugify -%}
        <input class="hidden peer" type="radio" id="{{faq_id }}" name="faq-questions" {% if forloop.index0 == 0 %}checked{% endif %}>
        <label
          for="{{ faq_id }}"
          class="w-2/5 px-5 py-2 rounded-lg shadow-md border border-transparent border-r-8 peer-checked:border-r-red cursor-pointer block">{{ faq.question }}</label>
        <div class="hidden w-[55%] peer-checked:block peer-checked:absolute top-0 right-0 first-child:text-red -mt-5">
          {% renderTemplate "liquid,md", faq %} {{ answer }} {% endrenderTemplate
          %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>


<section class="max-w-5xl mx-auto">
  <h2 class="text-center text-darkBlue">Die Young Carers Austria App</h2>
  <div class="flex flex-row items-center">
    <div class="w-2/5 h-auto -rotate-2">
      <img src="/images/yc-app.ios.png" alt="Young Carers Austria App">
    </div>
    <div class="w-3/5 pl-10 flex flex-col items-center">

      {% for quote in cms.website.landingpage.quotes %}
      <div class="bg-white rounded-xl shadow-2xl relative w-4/5 p-5 mb-12">
        <div class="absolute font-extrabold text-8xl text-darkBlue italic font-serif">"</div>
        <p class="ml-16 mt-8 mb-4">
          {{ quote }}
        </p>
      </div>
      {% endfor %}

      <a class="rounded-full text-center bg-red text-white py-2 px-5 no-underline w-32" href="/app/">Zur App</a>
    </div>
  </div>
</section>



<section class="max-w-5xl mx-auto">
  <h2 class="text-center text-darkBlue">Über Young Carers Austria</h2>
  <div class="flex flex-row">
    <div class="w-3/5 pr-10">
      {% renderTemplate "liquid,md", cms.website.landingpage %} {{ about }} {% endrenderTemplate
          %}
    </div>
    <div class="w-2/5 h-auto">
      <img src="/images/sujets/yc-sujet-%C3%B6sterreich.jpg" alt="/images/sujets/yc-sujet-österreich.jpg">
    </div>
  </div>
</section>
